<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Petshop Misc</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2>Petshop Misc</h2>
<main>
  <ul class="vertical-list">
    <a th:href="@{/cliente}">Cadastrar Cliente</a><br>
    <a th:href="@{/animal}">Cadastrar Animal</a>
  </ul>
</main>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
